*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind Guntur', sans-serif;
}
header
{
    text-align: center;
    margin-top: 50px;
}
header h2
{
   text-align: center;
    padding-top: 20px;
    font-size: 25px;
}
img{
  height: 150px;
  width: 450px;
  margin-left: 20px;
  margin-top: 20px;
}

.cart
{
    width: 600px;
    margin-left: 350px;
    background-color: white;
    margin-top: -200px;
    border: 2px solid #131600;
    height: 400px;
    border-radius: 20px;
}
.cads
{
    margin-top: 100px;
}
.cads a
{
    font-size: 30px;
    text-decoration: none;
    color: #E8FFC6;
    padding: 10px 20px 10px 20px;
    background-color: #161C08;
    border: 2px solid #E8FFC6;
}
.cads a:hover
{
    background-color: black;
    color: yellowgreen;
    border: 1px solid #161C08;
    transition-duration: 0.5s;
}
.avancar
{
    margin-top: 80px;
}
.avancar a
{
    color: black;
    font-size: 20px;
}
.fundo
{
    height: 300px;
    background-image: url(../img/498829.jpg);
}
.line
{
    height: 5px;
    background-color: #161C08;
    margin-top: 20px;
}
.respon
{
    margin: 0 auto;
    max-width: 1280px;
}
@media only screen and (max-width:768px) {
  img{
    width: 300px;
    height: 100px;
  }
  .cart{
    margin-left: 150px;
    width: 590px;
    margin-top: -200px;
  }
}
@media only screen and (max-width:425px) {
  .cart{
    margin-left: 40px;
    width:350px;
    margin-top: -200px;
  }
}
@media only screen and (max-width:375px) {
  .cart{
    margin-left: 12.5px;
  }
}
@media only screen and (max-width:320px) {
  .cart{
    width: 300px;
    margin-left: 10px;
  }
  img{
    width: 250px;
    height: 80px;
    margin-left: 30px;
  }
}
