*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind Guntur', sans-serif;
}
header
{
    text-align: center;
    margin-top: 50px;
}
header h2
{
    padding-top: 20px;
    font-size: 25px;
}
img{
  height: 150px;
  width: 450px;
  margin-left: 20px;
  margin-top: 20px;
}

.cart
{
    width: 600px;
    margin-left: 350px;
    background-color: white;
    margin-top: -200px;
    border: 2px solid #131600;
    height: 400px;
    border-radius: 20px;
}

.avancar
{
    margin-top: 10px;
}
.avancar a
{
  font-size: 15px;
  text-decoration: none;
  color: #E8FFC6;
  padding: 10px 20px 10px 20px;
  background-color: #161C08;
  border: 2px solid #E8FFC6;
}
.avancar .sim:hover{
  cursor: pointer;
  background-color: #161C08;
  color: #89BF00;
  border: 2px solid #89BF00;
  transition-duration: 0.5s;
  text-decoration: underline;
}
.avancar a:hover{
  background-color: #161C08;
  color: #F9360E;
  border: 2px solid #F9360E;
  transition-duration: 0.5s;
  text-decoration: underline;
}
.fundo
{
    height: 300px;
    background-image: url(../img/498829.jpg);
}
.line
{
    height: 2px;
    background-color: #161C08;
    margin-top: 20px;
}
.respon
{
    margin: 0 auto;
    max-width: 1280px;
}
.cart h1{
  margin-top: 0px;
  font-size: 20px;
  text-align: justify;
}

@media only screen and (max-width:768px) {
  img{
    width: 300px;
    height: 100px;
  }
  .cart{
    margin-left: 150px;
    width: 590px;
    margin-top: -200px;
  }
}
@media only screen and (max-width:425px) {
  .cart{
    margin-left: 40px;
    width:350px;
    margin-top: -200px;
  }
}
@media only screen and (max-width:375px) {
  .cart{
    margin-left: 12.5px;
  }
}
@media only screen and (max-width:320px) {
  .cart{
    width: 300px;
    margin-left: 10px;
  }
  img{
    width: 250px;
    height: 80px;
    margin-left: 30px;
  }
}
