* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Hind Guntur', sans-serif;
}
html{
  width: 100%;
  height: 100%;
}
.fundo{
  width: 100%;
  background: #131600;
  text-align: center;
  border-top: 2px solid #89BF00;
  border-bottom:  2px solid #89BF00;
}
.menu{
  max-width: 1280px;
  margin: 0 auto;
}
.menu .menu-list, .menu .sub-menu{
  list-style: none;
}
.menu a{
  color: #E8FFC6;
  text-decoration: none;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  letter-spacing:0.2em;
  border: 2px solid #131600;
}
.menu > .menu-list > li{
  float: left;
  display: inline-block;
  position: relative;
}
.menu > .menu-list > li > a {
    padding: 20px;
  margin: 0 15px;
}
.menu > .menu-list > li:hover a {
  background: #E8FFC6;
  color:#131600;
  border: 2px solid #89BF00;
}
.menu > .menu-list > li:hover > .sub-menu {
  display: block;
}
.menu > .menu-list > li > .sub-menu {
  position: absolute;
  top: 50px;
  left: 5px;
  margin-top: 15px;
  min-width: 200px;
  z-index: 1000;
  display: none;
}
.menu > .menu-list > li > .sub-menu > li > a {
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 12px;
}
.menu > .menu-list > li > .sub-menu > li > a:hover {
    text-decoration: underline;
    padding: 10px 20px;
    margin-left: 10px;
}
.menu-list{
   margin-left: 300px;
}
.menu:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.site-content{
  padding: 20px;
}
h1{
  font-size: 22px;
  margin: 0 0 0.6em 0;
  letter-spacing:0.2em;
  color: #444;
}
p{
  margin: 0 0 1.6em 0;
}
header {
  height: 220px;
  width: auto;
  background-image: url(../img/498829.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.nada {
  max-width: 1280px;
  margin: 0 auto;
}


.logo {
  max-width: 1280px;
  margin: 0 auto;
}

.logo a {
  margin-left: 370px;
}
.logo img{
  margin-top: 10px;
  height: 150px;
  width: 452px;
}

.slideshow-container img{
  width: 100%;
  height: 100%;
}
.slideshow-container{
  position: absolute;
  width: 100%;
}
.pesquisa {
  text-align: center;
  vertical-align: middle;
  margin-top: -10px;
  position: absolute;
  margin-left: 315px;
}

.pesquisa input {
  height: 40px;
  border: 3px solid #131600;
  width: 540px;
  margin-top: 10px;
}

.pesquisa button {
  padding: 2px 10px 2px 10px;
  background-color: #131600;
  color: #E8FFC6;
  font-size: 17px;
  text-align: center;
  border: 2px solid #1c5400;
  margin-left: -25px;
  cursor: pointer;
}

.pesquisa button:hover {
  color: #E8FFC6;
  background-color: #161C08;
  border-color: #99B159;
  transition-duration: 0.5s;
}

.cads {
  float: right;
  background-color: #E8FFC6;
  margin: 10px 10px 0 0;
  border: 2px solid #7DDD00;
  border-radius: 0px;
}



.cads a {
  color: #161C08;
}

.cads i {
  padding: 10px 10px 10px 10px;
}

.cads:hover {
  background-color: #161C08;
  border-color: #41510F;
  transition-duration: 0.4s;
}

.cads a:hover {
  color: #E8FFC6;
  transition-duration: 0.4s;
}

.login {
  float: right;
  background-color: #E8FFC6;
  margin: 10px 10px 0 0;
  border: 2px solid #7DDD00;
}

.login a {
  color: #161C08;
}

.login i {
  padding: 10px 10px 10px 10px;
}

.login:hover {
  background-color: #161C08;
  border-color: #41510F;
  transition-duration: 0.4s;
}

.login a:hover {
  color: #E8FFC6;
  transition-duration: 0.4s;
}

.cart a {
  float: right;
  color: #161C08;
  position: absolute;
  margin-left: 900px;
}

.cart i {
  padding: 10px 10px 10px 10px;
  background-color: #E8FFC6;
  border: 2px solid #7DDD00;
}

.cart i:hover {
  background-color: #161C08;
  border-color: #41510F;
  transition-duration: 0.5s;
}

.cart a:hover {
  color: #E8FFC6;
}

.respon {
  max-width: 1280px;
  margin: 0 auto;
}

.logout {
  float: right;
  background-color: #E8FFC6;
  margin: 10px 10px 0 0;
  border: 4px solid #161C08;
  border-radius: 0px;
}

.logout a {
  color: #161C08;
  display: block;
}

.logout i {
  padding: 10px 10px 10px 10px;
}

.logout:hover {
  background-color: #161C08;
  border-color: #41510F;
  transition-duration: 0.4s;
}

.logout a:hover {
  color: #E8FFC6;
  transition-duration: 0.4s;
}

.dot {
  height: 15px;
  width: 50px;
  border: 2px solid #41510F;
  margin: 0 2px;
  background-color: #161C08;
  display: inline-block;
  transition: background-color green 0.6s ease;
  cursor: pointer;
}

.active {
  background-color: #E8FFC6;
  border: 2px solid #7DDD00;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  height: 60px;
  width: auto;
  top: 50%;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 14px;
  transition: 0.6s ease;
  border-radius: 0 0px 0px 0;
  user-select: none;
  background-color: #161C08;
  border: 2px solid #41510F;
  color: #E8FFC6;
}

.next {
  right: 0;
  margin-right: 10px;
  border-radius: 0px 0 0 0px;
}

.prev:hover, .next:hover {
  color: #161C08;
  background-color: #E8FFC6;
  border-color: #7DDD00;
  transition-duration: 0.5s;
}
.descontos {
  text-align: center;
  padding: 20px 0 20px 0;
}

.container {
  text-align: center;
  width: 100%;
  background-color:#131600;
  margin-top: 100px;
  border-top: 3px solid #89BF00;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
}
.container-2{
    background-image: url(../img/498829.jpg);
}
.container-2 .cont{
  width: 28%;
  display: inline-block;
  margin-left: 45px;
  margin-top: 20px;
  text-align: center;
}
.container-2 p{
  color: #E8FFC6;
}
.container .row {
  display: flex;
}
.row{
  margin-left: -100px;
}
.footer_risco{
  height: 2px;
  width: 100%;
  background-color: #F9360E;
  margin-top: 50px;
}
.footer_img h3{
  border-bottom: 3px solid #F9360E;
  width: 100%;
  text-align: center;
  color: #E8FFC6;
}
.footer_img .google{
  width: 150px;
  height: 50px;
 margin-left: 250px;
}

.footer_img .credito{
  width: 500px;
  margin-left: -60px;
  margin-bottom: 30px;
}
.container a {
  text-decoration: none;
  font-size: 18px;
  margin-left:100px;
}

.container i {
  font-size: 30px;
  color: #89BF00;
  border-radius: 0%;
  padding: 20px;
  width: 80px;
}

.container i:hover {
  color: #161C08;
  transition-duration: 0.4s;
}
.cont h3{
  text-align: center;
  color: #F9360E;
}
.copy
{
  background-color: #131600;
  border-top:3px solid #89BF00;
  border-bottom: 3px solid #89BF00;
  text-align: center;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  color: #E8FFC6;
}
.copy a{
  color: #89BF00;
}
/* itens */

.itens{
  display: inline-block;
  margin-top: 20px;
  margin-left: 5px;
}
.item{
  border: 2px solid #131600;
  margin-left:120px;
  text-align: center;
  width: 250px;
}
.item img{
  width: 150px;
  height: 150px;
}
.item h3{
  font-size: 14px;
  height: 60px;
  text-align: justify;
  border-bottom: 1px solid #E8FFC6;
  font-weight: bold;
  color: #131600;
  padding-left: 10px;
}
.item p{
  margin: auto;
  float: left;
  margin-left: 10px;
  font-weight: bold;
}
.card:hover{
  transition-duration: 0.5s;
  border-color: green;
}
.item_links{
  display:inline-block;
  margin-top: 20px;
}
.item_links .fav{
  background-color: #F96F2A;
  padding: 10px 20px 10px 20px;
  margin-left: -5px;
  border: 5px solid #131600;
  color: #131600;
  font-size: 18px;
  text-decoration: none;
}
.item_links .comp{
  background-color: #131600;
  padding: 12px 50px 12px 50px;
  border: 5px solid #131600;
  color: #E8FFC6;
  text-decoration: none;
}
.borda{
  border-top: 2.5px solid #89BF00;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
}
.borda h2{
  margin-top: -20px;
  background-color: white;
  width: 220px;
  font-size: 28px;
  margin-left: 80px;
  font-weight: normal;
  padding: 0px 10px 10px 10px;
}
/*  */
.caminho
{
  margin-left: 100px;
}
.caminho a
{
  color: #131600;
  font-size: 16px;
  text-decoration: none;
  margin-left: 10px;
}
.caminho i{
  margin-left: 10px;
  color: #89BF00;
}
.caminho a:hover
{
  color: green;
}
.caminho-div{
  height: 1.5px;
  width: 250px;
  background-color: #E8FFC6;
}
.caminho table{
  margin: 10px 0 10px 0;
}
/* PERFIL  */
.perfil{
  float: right;
  border: 2px solid #7DDD00;
  height: 120px;
  width: 250px;
  margin-top: 21px;
  background: #E8FFC6;
  border-radius: 0px;
}
.img img{
  margin-top: 14px;
  border: 2px solid #161C08;
  height: 90px;
  width: 90px;
  margin-left: 14px;
}
.perfil .conteudo{
  margin-left: 120px;
  margin-top: -107px;
  color: #161C08;
  width: 120px;
}
.conteudo a{
  color: #161C08;
}
/* Conteudo da PAGINA_ALL */

.produtos{
  margin-bottom: 500px;
}
.img_lateral{
  margin-left: 100px;
  margin-top: 50px;
}
.img_lateral img{
  border-bottom: 2px solid #89BF00;
  height: 90px;
  width: 90px;
}
.principal-img{
  margin-left: 250px;
  margin-top: -420px;
  border-bottom:2px solid #89BF00;
  border-top: 2px solid #89BF00;
  width: 510px;
  padding: 20px 30px 10px 30px;
}
.principal-img img{
  width: 400px;
  height: 380px;
  margin-left: 20px;
  border-bottom: 2px solid #89BF00;
  border-top: 2px solid #89BF00;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 20px;
}
.produtos-cont{
  border-left: 1px solid black;
  width: 450px;
  margin-left: 780px;
  margin-top: -433px;
  height:100%;
  color: #161C08;
}
.produtos-cont h3{
  margin-left: 20px;
  border-bottom: 2px solid #161C08;
  margin-bottom: 20px;
  padding-bottom: 20px;
  height: 80px;
}
.produtos-cont p{
  text-align: justify;
  margin-left: 20px;
  font-family: 'Anton', sans-serif;
  text-decoration: underline;
}
.produtos-cont .preco{
  font-size: 22px;
  color: #1c5400;
  margin-top: -20px;
}
.produtos-cont .avista{
  font-size: 30px;
  color: #89BF00;
  margin-top: -20px;
}
.produtos-cont .parcelas{
  font-size: 22px;
  margin-top: -30px;
  color: #1c5400;
}
.produtos-cont .parcelas span{
  color: #161C08;
  text-decoration: underline;
  font-size: 24px;
}
.produtos-cont span{
   text-decoration: line-through;
}
.produtos-comprar{
  margin-left: 20px;
}
.produtos-comprar a{
  padding: 10px 160px 10px 160px;
  background-color: #161C08;
  color: #89BF00;
  border: 2px solid #89BF00;
  border-radius:10px;
  font-size: 18px;
  text-decoration: none;
}
.produtos-comprar a:hover{
  color: #161C08;
  background-color: #89BF00;
  border-color: #161C08;
  transition-duration: 0.2s;
  text-decoration: underline;
}
/* Fechamento itens */

/* Slider */
.demo ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 400px;
}

.slide{
  border: 1px solid black;
  float: left;
  margin: 0;
  height: 400px;
}

.demo li a{
  color: #161C08;
  border-color: black;
  font-size: 20px;
  text-decoration: underline;
}
.demo img {
  display: block;
  width:150px;
  height: 150px;
  margin-left: 50px;
}
.active{
  background-color: white;
}
.slide p{
  text-align: left;
  margin-left: 10px;
  margin-right: 20px;
  color:#161C08;
  height: 20px;
  width: 220px;
  font-family: 'Anton', sans-serif;
  font-weight: bold;
}
.demo {
  margin: 0 auto;
  overflow: hidden;
  max-width: 1000px;
  margin-top: 50px;
  border: 1px solid black;
}
.tipo h3{
  margin-top: -200px;
  margin-left: 185px;
  width: 900px;
  border-bottom: 2px solid #161C08;
  text-align: center;
}
.tipo span{
  color: #89BF00;
}
.demo .linkzada{
  display: block;
  padding: 0;
  height: 300px;
  background-color: white;
}
.demo button{
   height: 100px;
   position: absolute;
   width: 30px;
   background-color: #161C08;
   border:2px solid #89BF00;
   color: #89BF00;
   margin-top: -250px;
}
.demo #goToPrevSlide{
  margin-left: -40px;
}
.demo #goToNextSlide{
  margin-left: 1010px;
}
.slide_links{
  display:inline-block;
  margin-top: 30px;
  margin-left: 10px;
}
.slide_links .fav{
  background-color: #F96F2A;
  padding: 10px 15px 10px 15px;
  margin-left: -5px;
  border: 5px solid #131600;
  color: #131600;
  font-size: 18px;
  text-decoration: none;
}
.slide_links .comp{
  background-color: #131600;
  padding: 8px 40px 8px 40px;
  border: 5px solid #131600;
  color: #E8FFC6;
  text-decoration: none;
}
.semslide{
  margin-left: 200px;
}
.itens-semslide{
  display: none;
  margin-top: 20px;
  margin-left: 100px;
}
.item-semslide{
  border: 2px solid #131600;
  text-align: center;
  width: 250px;
}
.item-semslide img{
  width: 150px;
  height: 150px;
}
.item-semslide h3{
  font-size: 14px;
  height: 60px;
  text-align: justify;
  border-bottom: 1px solid #E8FFC6;
  font-weight: bold;
  color: #131600;
  padding-left: 10px;
}
.item-semslide p{
  margin: auto;
  float: left;
  margin-left: 10px;
  font-weight: bold;
}

/* FECHAMENTO DO CONTEUDO DA PAGINA_ALL */
/* MENU MOBILE */
.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.pes_resul{
  margin-top: 50px;padding-left:150px;padding-top: 10px;padding-bottom: 10px;background-color:#161C08;color:#E8FFC6;border-top:6px solid #7DDD00;
}
.container i:hover{
  color: #E8FFC6;
}
.cont_primeiro h5{
  font-size: 16px;
  color: #E8FFC6;
  font-weight: lighter;
}
.cont_ultimo h5{
  font-size: 16px;
  color: #E8FFC6;
  font-weight: lighter;
}
.cont{
  height: 50px;
}
.clear
{
    clear: both;
}
@media only screen and (max-width: 6000px) {
  .mobile-container{
    display: none;
  }
  .descontos{
    margin-top: 1300px;
  }
}
@media only screen and (max-width:4000px) {
  .descontos{
    margin-top: 1000px;
  }
}
@media only screen and (max-width:3000px) {
  .descontos{
    margin-top: 650px;
  }
  .principal-img{
    margin-top: -300px;
  }
}
@media only screen and (max-width:1920px) {
  .descontos{
    margin-top: 400px;
  }
  .principal-img{
    margin-top: -320px;
  }

}
@media only screen and (max-width:1366px) {
  .descontos{
    margin-top: 300px;
  }
}
@media only screen and (max-width:1024px) {
  .logo img{
    width: 300px;
    height: 100px;
    margin-top: 50px;
    margin-left: -40px;
  }
  .menu-list{
    margin-left: 150px;
  }
  .pesquisa input{
    margin-left: -90px;
  }
  .perfil img{
    height: 80px;
    width: 80px;
  }
  .cart{
    margin-left: -60px;
  }
  .prev, .next{
    text-align: center;
    height: 60px;
  }
  .itens{
    margin-left: 50px;
  }
  .principal-img img{
      height: 250px;
      width: 250px;
  }
  .principal-img{
    width: 350px;
    margin-top:-320px;
  }
  .produtos-cont{
    margin-left: 630px;
    margin-top: -350px;
    width: 200px;
  }
  .outras-img img{
    height: 80px;
    width: 80px;
  }
  .produtos-cont a{
    padding: 10px 100px 10px 100px;
  }
  .produtos-cont h3{
    width: 300px;
  }
  .tipo h3{
    margin-left: 70px;
  }
  .demo{
    max-width: 900px;
  }
  .demo .prox{
    margin-left: 910px;
    margin-top: -250px;
  }
  .slide_links .comp{
    padding: 4px 20px 4px 20px;
  }
  .demo #goToNextSlide{
    margin-left: 905px;
  }

}
@media only screen and (max-width:768px) {
  .pesquisa{
    margin-left: 280px;
    margin-top: -50px;
  }
  .pesquisa input{
    width: 400px;
  }
  .logo img{
    margin-left: -130px;
    margin-bottom: 40px;
  }
  .cart a{
    margin-left: 710px;
    margin-top: -40px;
  }
  .menu{
    display: none;
  }
  .mobile-container{
    display: block;
    height: 100%;
    width: 100%;
  }
  .topnav a{
    color: #E8FFC6;
    background-color: #131600;
    text-decoration: underline;
  }
  .topnav a.icon{
    color:#F96F2A;
    width: 80px;
  }
  .itens{
    margin-left:-40px;
    margin-right: 20px;
  }
  .container i{
    font-size: 20px;
    width: 3%;
    margin-left: 0;
  }
  .container-slideshow img{
    width: 500px;
  }
  .container-2 p{
    font-size: 14px;
  }
  .container-2 h3{
    font-size: 16px;
  }
  .container-2 .cont{
    width: 26%;
  }
  .perfil{
    width: 180px;
    height: 110px;
  }
  .conteudo a{
    width: 100px;
    margin-left: -40px;
    font-size: 14px;
  }
  .conteudo h3{
    margin-left: -40px;
  }
  .perfil .conteudo{
    margin-left: 135px;
    width: 50px;
    margin-top: -90px;
  }
  .perfil img{
    height: 65px;
    width: 65px;
  }
  .perfil{
    margin-right: 10px;
  }
  .principal-img img{
    height: 200px;
    width: 200px;
    margin-left: -5px;
  }
  .principal-img{
    width: 250px;
    margin-top: -300px;
    margin-left: 220px;
  }
  .produtos-cont{
    margin-left: 500px;
    margin-top: -300px;
  }
  .produtos-cont h3{
    font-size: 18px;
    width: 240px;
  }
  .produtos-cont a{
    padding: 10px 90px 10px 90px;
    margin-left: -5px;
  }
  .tipo h3{
    width: 623px;
  }
  .descontos{
    margin-top: 200px;
  }
  .demo{
    width: 650px;
    margin-left:50px;
  }
  .demo img{
    width: 100px;
    height: 100px;
    margin-left: 30px;
  }
  .slide p{
    width: 100%;
    margin-left: 0;
  }
  .slide_links .comp{
    padding: 2px 6px 2px 6px;
    margin-left: -5px;
  }
  .slide_links .fav{
    padding: 5px 10px 5px 10px;
  }
  .demo #goToNextSlide{
    margin-left: 660px;
  }
  .footer_img .credito{
    width: 400px;
    margin-left: 80px;
  }
  .footer_img .google{
    margin-left: 10px;
    margin-top: -50px;
  }
}
@media only screen and (max-width:425px) {
  .caminho{
    margin-left: 50px;
  }
  .caminho a{
    font-size: 14px;
  }
  .caminho th{
    width: 200px;
  }
  .descontos{
    margin-top: 100px;
    width: 200px;
    margin-left: 100px;
  }
  .descontos img{
    height:50px;
    width: 200px;
  }
  .logo img{
    margin-top: -10px;
    margin-left: -280px;
    height: 100%;
    width: 200px;
  }
  .perfil{
    height: 85px;
    width: 180px;
    margin-top: 10px;
  }
  .perfil img{
    height: 50px;
    width: 50px;
  }
  .perfil .conteudo{
    margin-left:120px;
  }
  .conteudo a{
    font-size: 12px;
  }
  .conteudo h3{
    font-size: 15px;
    margin-top: 10px;
  }
  .pesquisa input{
    margin-left: -180px;
    width: 200px;
  }
  .cart{
    margin-left: -350px;
  }
  .slideshow-container img{
    height: 150px;
  }
  .prev,.next{
    padding: 5px 5px 5px 5px;
    height: 40px;
    margin-top: -10px;
  }
  .container-2 .cont{
    margin-left: 10px;
    width: 200px;
  }
  .cont .cont_ultimo{
    margin-left: 100px;
    width: 200px;
  }
  .footer_img .google{
    width: 100px;
  }
  .login-cadas{
    height: 80px;
  }
  .item{
    width: 200px;
    height: 350px;
    margin-left: 40px;
  }
  .item img{
    height: 100px;
    width: 100px;
  }
  .item .comp{
    padding: 12px 20px 12px 20px;
  }
  .itens{
    margin-right: 0;
    margin-left: -40px;
  }
  .item p{
    margin-left: 0;
    width: 200px;
    font-size: 14px;
  }
  .itens h3{
    height: 80px;
  }
  .img_lateral img{
    height: 80px;
    width: 80px;
  }
  .principal-img{
    margin-left: 90px;
    margin-top: -350px;
  }
  .produtos-img .img_lateral{
    margin-top: 300px;
  }
  .img_lateral{
    margin-left: 85px;
  }
  .img_lateral .outras-img2{
    margin-top: -90px;
    margin-left: 90px;
  }
  .img_lateral .outras-img3{
    margin-top: -90px;
    margin-left: 180px;
  }
  .produtos-cont{
    margin-left: 50px;
    margin-top: 100px;
  }
  .tipo h3{
    width: 100%;
    margin-left: 0;
  }
  .demo li{
    width: 200px;
  }
  .demo{
    display: none;
  }
  .itens-semslide{
    display: inline-block;
  }
  .semslide{
    margin-left: 10px;
  }
  .item-semslide{
    width: 200px;
    margin-left: -100px;
  }
  .item-semslide p{
    height: 60px;
    text-align: left;
  }
  .item-semslide .item_links .comp{
    padding: 12px 20px 12px 20px;
  }
  .item-semslide .item_links .fav{
    padding: 10px 20px 10px 20px
  }
  .item-semslide h3{
    padding-bottom: 10px;
    height: 70px;
  }
  .pes_resul{
    padding-left: 0;
    font-size: 20px;
  }
  .footer_img .credito{
    width: 250px;
    margin-left: 0px;
  }
  .footer_img .google{
    width: 80px;
    height: 30px;
  }
}
@media only screen and (max-width:375px) {
  .logo img{
    margin-top: 20px;
    margin-left: -280px;
  }
  .pesquisa{
    margin-left: 260px;
  }
  .cart a{
    margin-left: 660px;
  }
  header{
    height: 250px;
  }
  .container-2 .cont{
    margin-left: 100px;
  }
  .cont .cont_ultimo{
    margin-left: 0;
    width: 200px;
  }
  .item-semslide{
    width: 175px;
  }
  .item-semslide .item_links .comp{
    padding: 5px 15px 5px 15px;

  }
  .item-semslide .item_links .fav{
    padding: 3px 8px 3px 8px;
  }
  .item-semslide p{
    font-size: 14px;
    width: 150px;
  }
  .principal-img img{
    height: 160px;
    width: 160px;
  }
  .img_lateral{
    margin-left: 65px;
  }
  .principal-img{
    width: 200px;
  }
  .produtos-cont{
    margin-top: 100px;
  }
  .item{
    width: 175px;
  }
  .item .item_links .comp{
    padding: 5px 15px 5px 15px;

  }
  .item .item_links .fav{
    padding: 3px 8px 3px 8px;
  }
  .item p{
    font-size: 14px;
    width: 150px;
  }
  .pes_resul{
    padding-left: 0;
    font-size: 18px;
  }
  .footer_img .credito{
    margin-left: -10px;
  }
  .descontos{
    margin-left: 80px;
  }
}
@media only screen and (max-width:320px) {
  .logo img{
    margin-left: -310px;
  }
  .pesquisa{
    margin-left: 230px;
  }
  .cart a{
   margin-left: 625px;
  }
  .footer_img h3{
    width: 100%;
  }
  .item{
    margin-left: 100px;
  }
  .container-2 .cont{
    margin-left: 60px;
  }
  .img_lateral{
    margin-left: 30px;
  }
  .produtos-cont{
    margin-left: 10px;
  }
  .principal-img{
    margin-left: 65px;
  }
  .item{
    margin-left: 110px;
  }
  .item-semslide{
    margin-left: -35px;
  }
  .pes_resul{
    padding-left: 0;
    font-size: 16px;
  }
  .footer_img .credito{
    width: 200px;
    margin-left: 0px;
  }
  .descontos{
    margin-left: 70px;
  }
}
